<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">

   <servlet>
  	<servlet-name>Browse</servlet-name>
  	<servlet-class>edu.ncsu.lib.browse.Browse</servlet-class>
  	<init-param>
    	<param-name>vsiUrl</param-name>
        <param-value>http://webapps2.ucalgary.ca/~lcrweb/vs/handler/</param-value>
     </init-param>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/browse/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            browse
        </welcome-file>
  </welcome-file-list>
 <error-page>
  	<exception-type>
  		java.lang.Exception
  	</exception-type>
  	<location>
  		/jsp/error.jsp
  	</location>
  </error-page>
</web-app>
